*{
	 margin: 0; 
	 padding: 0;
	 border: 0;
}

body {  
	font-family: Arial,sans-serif;
	background-color:white;
	color: #000; 
	margin:0; 
	padding:0;
}

div {
	display: block;
}
ul{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

div#explorer{
	width: auto;
	margin: 0 10px;
	height: 400px;
	background-color: red;
}