<style type="text/css">
  html body { margin:0; padding:0; border:0 none; }
    html body { width: ww px; height: wh px; margin:0; padding:0; overflow:hidden; color:#222; background-color:white; }
    #sidebar #maptip #testlabel a.button { font-family: Arialsans-serif; font-size:  opt.fontsize ; }
    a { font-size:13px; text-decoration:none; color:#1155CC; }
    a:hover { text-decoration:underline; }
    /*a:visited { color:#6611CC; }*/
    a.button { display:inline-block; cursor:default; background-color:whiteSmoke; background-image:linear-gradient(top#F5F5F5#F1F1F1); border:1px solid #DCDCDC; border:1px solid rgba(0000.1); border-radius:2px; box-shadow:none; color:#444; font-weight:bold; font-size:12px; height:27px; line-height:27px; padding:0 8px; -webkit-transition: all .218s; -moz-transition: all .218s; transition: all .218s;}
    a.button.hover a.button:hover { background-color: #F6F6F6; background-image:linear-gradient(top#F8F8F8#F1F1F1); border:1px solid #C6C6C6; box-shadow:0px 1px 1px rgba(0000.1); color:#222; z-index: 2; text-decoration: none !important; }
    a.button.selected { background-color: #EEE; background-image:linear-gradient(top#EEE#E0E0E0); border:1px solid #CCC; box-shadow:inset 0px 1px 2px rgba(0000.1); color:#333; z-index: 2; }
          a.segmented.button { border-radius: 0; text-align: center; padding: 0 8px; width: 80px; }
          a.segmented.button.left { border-radius: 2px 0 0 2px; }
          a.segmented.button.right { border-radius: 0 2px 2px 0; }
          a.segmented.button.left + a.segmented.button a.segmented.button + a.segmented.button a.segmented.button.right { margin-left: -1px; }
    #outer {}
    .barvote { font-weight:bold; color:white; }
    div.topbar-header div.sidebar-header { padding:3px; }
    div.title-text { font-size:16px; }
    div.subtitle-text { font-size:11px; color:#777; padding-left:3px;}
    div.body-text div.body-text label { font-size:13px; }
    div.faint-text { font-size:12px; color:#777; }
    div.small-text a.small-text { font-size:11px; }
    div.topbar-delegates { font-size:21px; line-height:21px; font-weight:bold; }
    body.narrow #topbar div.candidate-name { display:none; }
    #auto-update #percent-reporting { margin: 0px 0px 8px 2px; }
    .content table { xwidth:100%; }
    .content .contentboxtd { width:7%; }
    .content .contentnametd { xfont-size:24px; xwidth:18%; }
    .content .contentbox { height:24px; width:24px; xfloat:left; margin-right:4px; }
    .content .contentname { white-space:pre; }
    .content .contentvotestd { text-align:right; width:5em; }
    .content .contentpercenttd { text-align:right; width:2em; }
    .content .contentvotes .content .contentpercent { xfont-size: opt.fontsize ; margin-right:4px; }
    .content .contentclear { clear:left; }
    .content .contentreporting { margin-bottom:8px; }
    .content .contentreporting * { xfont-size:20px; }
    .content {}
    div.scroller { overflow:scroll; overflow-x:hidden; }
    div.scroller::-webkit-scrollbar-track:vertical { background-color:#f5f5f5; margin-top:2px; }
    div.scroller::-webkit-scrollbar { height:16px; width:16px; }
    div.scroller::-webkit-scrollbar-button { height:0; width:0; }
    div.scroller::-webkit-scrollbar-button:start:decrement div.scroller::-webkit-scrollbar-button:end:increment { display:block; }
    div.scroller::-webkit-scrollbar-button:vertical:start:increment div.scroller::-webkit-scrollbar-button:vertical:end:decrement { display:none; }
    div.scroller::-webkit-scrollbar-track:vertical div.scroller::-webkit-scrollbar-track:horizontal div.scroller::-webkit-scrollbar-thumb:vertical div.scroller::-webkit-scrollbar-thumb:horizontal { border-style:solid; border-color:transparent; }
    div.scroller::-webkit-scrollbar-track:vertical { background-clip:padding-box; background-color:#fff; border-left-width:5px; border-right-width:0; }
    div.scroller::-webkit-scrollbar-track:horizontal { background-clip:padding-box; background-color:#fff; border-bottom-width:0; border-top-width:5px; }
    div.scroller::-webkit-scrollbar-thumb { -webkit-box-shadow:inset 1px 1px 0 rgba(000.1)inset 0 -1px 0 rgba(000.07); background-clip:padding-box; background-color:rgba(000.2); min-height:28px; padding-top:100px; }
    div.scroller::-webkit-scrollbar-thumb:hover { -webkit-box-shadow:inset 1px 1px 1px rgba(000.25); background-color:rgba(000.4); }
    div.scroller::-webkit-scrollbar-thumb:active { -webkit-box-shadow:inset 1px 1px 3px rgba(000.35); background-color:rgba(000.5); }
    div.scroller::-webkit-scrollbar-thumb:vertical { border-width:0; border-left-width:5px; }
    div.scroller::-webkit-scrollbar-thumb:horizontal { border-width:0; border-top-width:5px; }
    div.scroller::-webkit-scrollbar-track:vertical { border-left-width:6px; border-right-width:1px; }
    div.scroller::-webkit-scrollbar-track:horizontal { border-bottom:1px; border-top:6px; }
    div.scroller::-webkit-scrollbar-thumb:vertical { border-width:0; border-left-width:6px; border-right-width:1px; }
    div.scroller::-webkit-scrollbar-thumb:horizontal { border-width:0; border-bottom:1px; border-top:6px; }
    div.scroller::-webkit-scrollbar-track:hover { -webkit-box-shadow:inset 1px 0 0 rgba(000.1); background-color:rgba(000.05); }
    div.scroller::-webkit-scrollbar-track:active { -webkit-box-shadow:inset 1px 0 0 rgba(000.14)inset -1px -1px 0 rgba(000.07); background-color:rgba(000.05); }
    #maptip { position:absolute; z-index:10; border:1px solid #333; background:white; color:#222; white-space: nowrap; display:none; width:300px; }
    div.candidate-name { line-height:1em; }
    div.first-name { font-size:85%; }
    div.first-namep { font-size:100%; }
    #election-title { padding-left:3px; }
    body.tv #election-title { font-size:24px; font-weight:bold; }
    body.tv #election-date { font-size:16px; color:#222; }
    body.tv #percent-reporting { font-size:20px; }
    body.tv div.candidate-name { margin-right:20px; }
    body.tv div.candidate-name div { line-height:1.1em; }
    body.tv div.first-name { font-size:20px; }
    body.tv div.last-name { font-size:24px; font-weight:bold; }
    body.tv #maptip { border:none; }
    body.tv #map { border-left:1px solid #333; }
    body.tv span.tiptitletext { font-size:28px; }
    body.tv div.tipreporting { font-size:20px; }
    body.tv table.candidates td { padding:4px 0; }
    .tiptitlebar { padding:4px 8px; border-bottom:1px solid #AAA; }
    .tiptitletext { font-weight:bold; font-size:120%; }
    .tipcontent { padding:4px 8px 8px 8px; border-bottom:1px solid #AAA; }
    .tipreporting { font-size:80%; padding:2px 0; }
      //#selectors { background-color:#D0E3F8; }
      // #selectors #selectors * { font-size:14px; }
    #selectors label { font-weight:bold; }
    #selectors #legend { width:100%; }
    #selectors option.disabled { color:#BBB; }
    body.sidebar { background-color:white; }
    body.tv #legend { margin-top:8px; }
    body.sidebar #selectors body.sidebar #legend { width: sidebarWidth px; }
    #sidebar table.candidates { width:100%; }
           #sidebar td.right { width: 30%; }
    table.candidates td { border-top:1px solid #E7E7E7; }
    table.candidates tr.zero { display:none; }
    #maptip table.candidates { width:100%; }
    #maptip table.candidates tr.first td { border-top:none; }
    #maptip div.candidate-delegates { font-size:120%; }
    #maptip div.candidate-percent { font-weight:bold; }
    #maptip div.candidate-votes { font-size:80%; }
    #maptip div.click-for-local { padding:4px; }
    body.tv #maptip div.candidate-percent { font-size:20px; font-weight:bold; }
    #sidebar-scroll { padding:0 4px; }
          #sidebar #legend-candidate-top div.legend-candidate { color: #777; font-size: 11px; }
    tr.legend-candidate td tr.legend-filler td { border:1px solid white; }
    div.legend-candidate div.legend-filler { font-size:13px; padding:6px 4px; }
      //body.tv div.legend-candidate body.tv div.legend-filler { font-size:22px; }
    body.web div.legend-candidate { color:#333; }
    body.tv div.legend-candidate body.tv div.legend-filler { font-size:21px; font-weight:bold; }
    td.legend-filler { border-color:transparent; }
    //tr.legend-candidate td { width:20%; }  
    tr.legend-candidate td { cursor:pointer; }
    tr.legend-candidate.hover td tr.legend-candidate:hover td { background-color:#F6F6F6; border: 1px solid #F6F6F6; border-top:1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; -webkit-transition: all 0.218s; -moz-transition: all 0.218s; transition: all 0.218s; }
    tr.legend-candidate.hover td.left tr.legend-candidate:hover td.left { border-left: 1px solid #D9D9D9; -webkit-transition: all 0.218s; -moz-transition: all 0.218s; transition: all 0.218s; }
    tr.legend-candidate.hover td.right tr.legend-candidate:hover td.right { border-right: 1px solid #D9D9D9; -webkit-transition: all 0.218s; -moz-transition: all 0.218s; transition: all 0.218s; }
    tr.legend-candidate.selected td { background-color: #EEE; border: 1px solid #EEE; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; -webkit-transition: all 0.218s; -moz-transition: all 0.218s; transition: all 0.218s; }
    tr.legend-candidate.selected td.left { border-left: 1px solid #CCC; }
    tr.legend-candidate.selected td.right { border-right: 1px solid #CCC; }
          div.legend-candidate-bar { margin-top: -1px; }
          div.legend-candidate-bar-outline { border: 1px solid #D4D4D4; background-color: #fff; }
          div.legend-candidate-bar-fill { height: 7px; }
          div.legend-candidate-primary { font-size: 15px; color: #777; }
          tr.legend-candidate.selected div.legend-candidate-primary { color: #444; }
          div.legend-candidate-secondary { font-size: 11px; color: #777; }
          tr.legend-candidate.selected div.legend-candidate-secondary { color: #444; }
          div.legend-candidate-primary + div.legend-candidate-secondary { margin-top: -2px; }
          div.legend-candidate-secondary + div.legend-candidate-primary { margin-top: -2px; }
          #sidebar td.right div.legend-candidate-primary { margin-top: -1px; padding-bottom: 2px; }
          #sidebar td.winner div { padding: 0 };
    span.legend-candidate-color { font-size:15px; }
    #sidebar span.legend-candidate-color { font-size:16px; }
    body.tv span.legend-candidate-color { font-size:18px; }
    #centerlabel #centerlabel * { font-size:12px; xfont-weight:bold; }
    #spinner { z-index:999999; position:absolute; left: Math.floor( ww/2 - 64 ) px; top: Math.floor( wh/2 - 20 ) px; }
    #error { z-index:999999; position:absolute; left:4px; bottom:4px; border:1px solid #888; background-color:#FFCCCC; font-weight:bold; padding:6px; }
    a.logo { position:absolute; bottom:24px; width:48px; height:48px;}
    #gop-logo { right:64px; width:48px; background: url( imgUrl(gop-nv-48.png) ) no-repeat; }
    body.source-ap #gop-logo { display:none; }
    #ap-logo { right:64px; width:41px; background: url( imgUrl(ap-logo-48x41.png) ) no-repeat; }
    body.source-gop #ap-logo { display:none; }
    #google-logo { right:4px; background: url( imgUrl(google-politics-48.png) ) no-repeat; }
    #gop-logo { right:64px; width:48px; background: url( imgUrl(gop-nv-48.png) ) no-repeat; }
    body.hidelogo #gop-logo body.hidelogo #ap-logo { right:4px; }
    body.hidelogo #google-logo { display:none; }
    body.ie7 #gop-logo body.ie7 #ap-logo { right:4px; }
    body.ie7 #google-logo body.ie7 #linkToMap { display:none; }
    #testlabel { position:absolute; left:  sidebarWidth + 32 px; top: 2px; font-size: 24px; font-weight:bold; color:red; text-shadow: 0 0 4px white 0 0 8px white 0 0 12px white 0 0 12px white; }
     /* custom layouts */
/*     #subregion_list { width:100%; overflow:auto; overflow-x:hidden; } */
/*     .candidate-area-patch { border-radius:30px;-webkit-border-radius:30px;-moz-border-radius:30px; } */
    tr.candidate-row:hover { background-color: #eeeeee; }
    #subregion_div { max-width:815px; font-family:Helvetica; font-size:14px; display: none;
    position:absolute; background:#fff; z-index:1001;}
    #subregion_title { padding: 10px; padding-left:15px; }
    #subregion_title a { text-decoration:none; color:#111;}
    #subregion_title a:hover { text-decoration:underline; }
    #subregion ul { list-style:none; float:left; padding:0px 15px; margin-top:5px;
      border-right: solid #eeeeee thin; width:240px;}
    #subregion li { list-style: none; word-wrap:break-word; padding:5px 5px; color:#bbb; }
    #subregion li.active-region { color: #08C; }
    #subregion li:hover { background-color:#eee; cursor: pointer;}
    #subregion li.selected-region:hover
    #subregion li.selected-region { background-color:#08C; font-weight:bold; cursor: auto;}
    #subregion li.selected-region.active-region {color:#fff;}
    #lightbox { display: none; position:absolute; left:0; top:0; z-index: 1000;
    min-width:100%; min-height: 100%; background-color: #000;opacity: 0.8;filter:alpha(opacity=90);}
 </style>

<div>

	<div id="outer">
		<div>
			<div id="selectors">
				<div style="margin: 0; padding: 4px;">
					<a class="segmented button left selected" id="btn-president" title="Click for Presidential results">Presidential</a>
					<a class="segmented button right" id="btn-senate" title="Click for Senate results">Senate</a>
					<a class="segmented button right" id="btn-house" title="Click for House results">House</a>
				</div>
			</div>
			<div id="legend">
				<div id="sidebar" style="border-right: solid #dddddd 1px">
					<div class="sidebar-header">
						<div id="election-title" class="title-text">Zimbabwe General Elections</div>
						<div id="auto-update" class="subtitle-text">31st July, 2013</div>
						<div id="sidebar-results-header" class="scroller">
							<div id="auto-update" class="subtitle-text">This page updates automatically</div>
							<div id="candidate-total">
								<div class="tipreporting" style="padding-left: 5px;">0% reporting (0 / 0)</div>
								<table class="candidates" cellpadding="8px" cellspacing="0">
									<tbody>
										<tr>
											<th style="text-align: left; padding-bottom: 4px;">Candidate</th>
											<th style="text-align: right; padding-bottom: 4px;"></th>
											<th style="text-align: center; padding-bottom: 4px;">Votes</th>
										</tr>
										<tr class="left candidate-row">
											<td><div
													style="float: left; padding-right: 10px; margin-top: 8px">
													<div class="candidate-area-patch"
														style="background: #FF0000; width: 14px; height: 14px; border: 1"></div>
												</div>
												<div style="float: left" class="candidate-name">
													<div class="first-name">First Name</div>
													<div class="last-name" style="font-weight: bold;">Last Name</div>
												</div></td>
											<td align="left"><b>Party</b></td>
											<td align="center"><div class="candidate-percent">percentage %</div>
												<div class="candidate-votes">votes</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div id="sidebar-scroll" style="height: 234px;">
						<div id="map-link" class="small-text" style="padding: 8px 4px 4px 4px;"></div>
					</div>
				</div>
			</div>
			<div style="width: 100%;">
				<div id="map"></div>
			</div>
		</div>
	</div>

	<div id="maptip"></div>
	<a id="google-logo" class="logo" target="_blank" href="http://www.google.com.gh/elections/ed/gh" title="{{ T('googlePoliticsTitle') }}"> </a>
	<div id="error" style="display: none;"></div>
	<div id="testlabel" style="display: none;">{{ T('testData') }}</div>
	<div id="spinner" style="display: none;">
		<img border="0" style="width: 128px; height: 128px;"
			src="/images/spinner-124.gif" />
	</div>
</div>