<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>DataEntryHandler</servlet-name>
    <servlet-class>com.rancard.election.DataEntryHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserApi</servlet-name>
    <servlet-class>com.rancard.election.json.UserApi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PartyApi</servlet-name>
    <servlet-class>com.rancard.election.json.PartyApi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CandidateApi</servlet-name>
    <servlet-class>com.rancard.election.json.CandidateApi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProvinceApi</servlet-name>
    <servlet-class>com.rancard.election.json.ProvinceApi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConstituencyApi</servlet-name>
    <servlet-class>com.rancard.election.json.ConstituencyApi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WardApi</servlet-name>
    <servlet-class>com.rancard.election.json.WardApi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PollingStationApi</servlet-name>
    <servlet-class>com.rancard.election.json.PollingStationApi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResultApi</servlet-name>
    <servlet-class>com.rancard.election.json.ResultApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataEntryHandler</servlet-name>
    <url-pattern>/data_entry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserApi</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PartyApi</servlet-name>
    <url-pattern>/party</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CandidateApi</servlet-name>
    <url-pattern>/candidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvinceApi</servlet-name>
    <url-pattern>/province</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConstituencyApi</servlet-name>
    <url-pattern>/constituency</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WardApi</servlet-name>
    <url-pattern>/ward</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PollingStationApi</servlet-name>
    <url-pattern>/pollingstation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultApi</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>